@import "../../../theme/variables";
.channel-rack {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  overflow: hidden;

  .channel-rack-header {
    height: 30px;
    width: 98%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-right: 0;
  }

  .channel-rack-footer {
    height: 30px;
    width: 100%;

    .footer-header-control {
      background: transparent;
      border: none;
      width: 30px;
      height: 30px;
      cursor: pointer;
      @extend .center;

      &:hover {
        color: darken($colGrayLight, 3%);
      }

      .material-icons {
        color: $colGrayLight;
        font-size: 14px;
      }
    }
  }
}
