.text-mono-regular {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.text-mono-light {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
}
