@import "../../../theme/variables";

.css-f91fgu {
  background-color: transparent !important;
  color: $colGrayLight !important;
  font-family: Roboto;
}

.css-1cf7s5m {
  color: $colGrayLight !important;
  font-family: Roboto;
}

.css-79elbk > div:first-child {
  padding: 4px 8px !important;
  background-color: transparent !important;
}

.css-1abq8k5 {
  position: absolute !important;
  right: 6px;
}

.css-f91fgu {
  height: 100%;
}
