@import "../../theme/variables";

.floating-window {
  width: 565px;
  height: auto;
  background: $windowContent;
  border-radius: $borderRadius;
  border: 1px solid $bgHeader;
  box-shadow: $bsLowerLeft1;
  cursor: default !important;

  &.active {
    box-shadow: $bsLowerLeft6;
    border-color: $colAccent;
  }
}
