@import "./theme/base-theme.scss";
@import "./theme/variables";

body,
#root {
  height: 100vh;
}

.logo path {
  fill: $colAccent;
}

.auth-page {
  width: 400px;
  padding-bottom: 30px !important;
}

.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}

body {
  background: $colGrayMid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-mono {
  font-family: "Roboto Mono", monospace;
}

.ReactModal__Overlay {
  background-color: rgba(black, 0.2) !important;
  transition: opacity 2s ease-in-out;
}

.no-drag-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ReactModal__Content {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
  background: $windowContent !important;
  border-color: $grayBorder !important;
}

.ReactModal__Overlay--after-open {
  // opacity: 1;
}

.ReactModal__Overlay--before-close {
  // opacity: 0;
}

.rc-slider-rail {
  background: $colGrayMid !important;
  box-sizing: border-box;
  // border: 1px solid $colGrayMid;
}

.rc-slider-track {
  background: $colAccent !important;
  // border: 1px solid $colGrayMid;
}

.rc-slider-handle {
  background: $colGrayMid !important;
  border: 1px solid $colAccent !important;
  position: relative;
  &::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $colAccent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:active {
    box-shadow: 0 0 5px lighten($colAccent, 10%) !important;
  }
}

.__react_component_tooltip {
  background-color: $bgHeader !important;
  font-family: Roboto;
  font-size: 10px;
  padding: 3px 8px;
  font-weight: 400;
}

.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: $bgHeader;
  display: none;
}

.__react_component_tooltip.place-bottom:after {
  left: 15%;
}

.knob-circle {
  stroke: $grayBorder;
  stroke-width: 3px;
  fill: $colGrayMidLight;
}
.activeScale {
  fill: $colAccent;
  r: 2px;
  transition: 100ms ease-in-out;
}
.normalScale {
  fill: $colAccent;
  r: 1px;
  transition: 450ms ease-in-out;
}

hr {
  border-color: $colGrayMid;
}

.text-mutted {
  font-size: 12px;
}
.space-between {
  @extend .center;
  justify-content: space-between;
  width: 100%;
}

.centered-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.right-abs {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.list-item {
  width: 400px;
  align-items: center;
  padding: 10px 0;

  border-bottom: 1px solid $grayBorder;
  &:first-of-type {
    border-top: 1px solid $grayBorder;
  }
}

.border-bottom {
  border-bottom: 1px solid $grayBorder;
}
.border-top {
  border-top: 1px solid $grayBorder;
}
