@import "./theme/base-theme.scss";
@import "./theme/variables";

.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}

body {
  background: $colGrayMid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-mono {
  font-family: "Roboto Mono", monospace;
}

.ReactModal__Overlay {
  background-color: rgba(black, 0.2) !important;
  transition: opacity 2s ease-in-out;
}

.no-drag-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ReactModal__Content {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
  background: $windowContent !important;
  border-color: $grayBorder !important;
}

.ReactModal__Overlay--after-open {
  // opacity: 1;
}

.ReactModal__Overlay--before-close {
  // opacity: 0;
}
